extends ../layout/common

block content
  .container
    if error
      each err in error
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')= err
    
    h1 User List
    
    table.table
      tr
        th User Name   
        th Info
        th Delete User
      each user in users
        tr
          td= user.userName
          td
            a.pl-2.pr-2.text-white.rounded(href="/transactions/info/"+user.id, style="background-color:dodgerblue; text-decoration:none") Show Info
          td
            if user.isAdmin === false
              a.pl-2.pr-2.text-white.rounded(href="/transactions/delete/"+user.id, style="background-color:red; text-decoration:none") Delete
            else
              p Admin
